
<div class="content">
    <div class="header">
        <h2>Общая статистика</h2>
        <button (click)="settings_table()" *ngIf="!settings"><img src="../assets/settings.png"></button>
        <button (click)="settings_table()" *ngIf="settings"><img src="../assets/save.png" style="width: 24px; height: 24px"></button>
    </div>

<div id="main-cart">
    <div id="cart">
        <h3>{{titles}}</h3>
        <canvas baseChart
                class="chart-js"
                id="canvas-line"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
        >
        </canvas>
    </div>
</div>

<table>

    <tr id="main_header_table">
        <th id="header_table">Показатель</th>
        <th *ngFor="let label of label_tabel" id="header_table">{{label}}</th>
        <th id="header_table"></th>
        <th id="header_table"></th>
    </tr>

    <tr id="total">
        <th (click)="new_static('total', 'Выручка')" style="cursor: pointer">Выручка</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['total']}}</th>
        <th id="retio_total" >{{ratio.retio_total}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('total')"><img src="../assets/delete.png"></button></th>
    </tr>
    <tr id="cash" >
        <th (click)="new_static('cash', 'Наличные')" style="cursor: pointer">Наличные</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['payments']['cash']}}</th>
        <th id="retio_cash">{{ratio.retio_cash}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('cash')"><img src="../assets/delete.png"></button></th>
    </tr>
    <tr id="noncash">
        <th  (click)="new_static('noncash', 'Безналичный рассчет')" style="cursor: pointer">Безналичный рассчет</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['payments']['noncash']}}</th>
        <th id="retio_noncash">{{ratio.retio_noncash}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('noncash')"><img src="../assets/delete.png"></button></th>
    </tr>
    <tr id="credit">
        <th (click)="new_static('credit', 'Кредитные карты')" style="cursor: pointer">Кредитные карты</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['payments']['credit']}}</th>
        <th id="retio_credit">{{ratio.retio_credit}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('credit')"><img src="../assets/delete.png"></button></th>
    </tr>
    <tr id="averageCheckue">
        <th (click)="new_static('averageCheckue', 'Средний чек')" style="cursor: pointer">Средний чек</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['averageCheckue']}}</th>
        <th id="retio_averageCheckue">{{ratio.retio_averageCheckue}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('averageCheckue')"><img src="../assets/delete.png"></button></th>
    </tr>
    <tr id="averageGuest">
        <th (click)="new_static('averageGuest', 'Средний гость (руб.)')" style="cursor: pointer">Средний гость (руб.)</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['averageGuest']}}</th>
        <th id="retio_averageGuest">{{ratio.retio_averageGuest}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('averageGuest')"><img src="../assets/delete.png"></button></th>
    </tr>
    <tr id="deletedAfterPay">
        <th (click)="new_static('deletedAfterPay', 'Удаление из чека (после оплаты), руб')" style="cursor: pointer">Удаление из чека (после оплаты), руб</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['deletedAfterPay']}}</th>
        <th id="retio_deletedAfterPay">{{ratio.retio_deletedAfterPay}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('deletedAfterPay')"><img src="../assets/delete.png"></button></th>
    </tr>
    <tr id="deletedBeforPay">
        <th (click)="new_static('deletedBeforPay', 'Удаление из счета (до оплаты), руб')" style="cursor: pointer">Удаление из счета (до оплаты), руб</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['deletedBeforPay']}}</th>
        <th id="retio_deletedBeforPay">{{ratio.retio_deletedBeforPay}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('deletedBeforPay')"><img src="../assets/delete.png"></button></th>
    </tr>
    <tr id="chckueNum">
        <th (click)="new_static('chckueNum', 'Количество чеков')" style="cursor: pointer">Количество чеков</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['chckueNum']}}</th>
        <th id="retio_chckueNum">{{ratio.retio_chckueNum}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('chckueNum')"><img src="../assets/delete.png"></button></th>
    </tr>
    <tr id="guestNum">
        <th (click)="new_static('guestNum', 'Количество гостей')" style="cursor: pointer">Количество гостей</th>
        <th  *ngFor="let statistic_item of statistic; let i = index">{{statistic_item['guestNum']}}</th>
        <th id="retio_guestNum">{{ratio.retio_guestNum}}%</th>
        <th id="settings"><button *ngIf="settings" (click)="delite('guestNum')"><img src="../assets/delete.png"></button></th>
    </tr>


</table>
</div>